<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="style.css/w3.css" />
    <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Georgia, serif;
      }
    </style>
  </head>

  <body>
    <div class="w3-container">
      <div class="w3-container w3-gray w3-round w3-center w3-text-white">
        <h1>Afghan Dreams Blog Hub</h1>
        <div class="w3-bar" style="font-size: large">
          <a href="/" class="w3-bar-item w3-button w3-mobile">Home</a>
          <a href="/posts" class="w3-bar-item w3-button w3-mobile">New Post</a>
        </div>
      </div>
    </div>
  </body>
</html>
